* {
  margin: 0 0;
  padding: 0;
}

body {
  background-color: #E2E1E0;
}

.container {
  margin: 0 auto;
  width: 50%;
  height: 550px;
  margin-top: 100px;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #FFFFFF;
}

.synth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.osc-waveform {
  border: 1px solid black;
  padding: 10px 20px;
}

.osc-waveform input[type="radio"] {
  margin-right: 1em;
}

.filter-type {
  padding: 10px 20px;
}

.filter-type input[type="radio"] {
  margin-right: 4.5em;
}

.osc-adsr {
  padding: 20px;
  border: 1px solid black;
  display: flex;
}

.osc-adsr-env {
  margin-right: 20px;
}

.osc-adsr input {
  display: block;
  margin-bottom: 10px;
}

.osc-adsr canvas {
  background-color: black;
  border-radius: 10px;
}

.synth-header {
  display: flex;
  z-index: 2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  box-shadow: 0 2px 2px -2px gray;
}

.container h2 {
  /* text-shadow: 1px 1px black; */
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-top: 10px;
  padding-bottom: 5px;
  z-index: 2;
  background-color: #fefefe;
  
}

#master-control {
  width: 62.3%;
  padding: 20px;
  border: 1px solid black;
}

#master-filter {
  width: 62.3%;
  padding: 20px;
  border: 1px solid black;
}

/* .oscillator {
  margin: 20px 20px;
} */

#keyboard {
  margin-top: 20px;
  display: flex;
  border: 1px solid black;
  width: 100%;
}

#keyboard button{
  flex-grow: 1;
  width: auto;
  border: none;
  height: 80px;
  background-color: #f2f1f0;
}

#keyboard button[id*='#'] {
  background-color: grey;
  border: none;
  height: 80px;
}
